# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data and models
data/raw/*
data/processed/*
models/*
outputs/figures/*
outputs/reports/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep